.bg-bar-custom-badge {
  background-color: #f2f2f3;
}
.dashboard {
  background-color: #f7f8fc;
}

.dashboard-card {
  border: none;
  border-radius: 6px;
  background-color: #fff;
}

.stat-value {
  font-size: 1.4rem;
  font-weight: 600;
}

.bar-chart {
  height: 200px;
  border-bottom: 1px solid #eee;
}

.earning-bar {
  background-color: #e3e1fc;
  transition: none; /* Let Framer Motion handle transitions */
  border-radius: 8px;
  width: 100%;
  max-height: 150px;
}

.mini-chart {
  height: 30px;
  background: #eee;
  border-radius: 6px;
}

/* On hover, change to purple */
.earning-bar:hover {
  background-color: #7367f0;
}
/* Active (clicked or current month) */
.earning-bar.active {
  background-color: #7367f0;
}
